// za grid
$grid-columns: 12;
$grid-max-width: 90em;

 
// brejkovi
$breakpoint-small: "only screen and (min-width: 20rem)";
$breakpoint-medium: "only screen and (min-width: 48rem)";
$breakpoint-large: "only screen and (min-width: 61.938rem)";
$breakpoint-xlarge: "only screen and (min-width: 85.375rem)";
